# macOS
.DS_Store

# Windows
Thumbs.db
ehthumbs.db
Desktop.ini

# Linux
*~

# IDEs
.vscode/*
!.vscode/extensions.json
.idea/
*.iml
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Dependency directories
node_modules/
jspm_packages/

# Build directories
dist/
dist-ssr/
*.local

# Cache and temporary files
.npm/
.yarn/
.cache/
coverage/
.env


# Ignore the tempalte local folder
template-local/